{% extends 'base/main.html' %}
{% load static %}

{% block content %}

<!-- Breadcrumb Start -->
<div class="container-fluid">
    <div class="row px-xl-5">
        <div class="col-12">

            <nav class="breadcrumb bg-light mb-30">

                <a
                    class="breadcrumb-item text-dark"
                    href="{% url 'website:index' %}"
                >
                    Home
                </a>

                <a
                    class="breadcrumb-item text-dark"
                    href="{% url 'product:detail' pk=product.pk %}"
                >
                    {{ product.name }}
                </a>

            </nav>

        </div>
    </div>
</div>
<!-- Breadcrumb End -->


<!-- Shop Detail Start -->
<div class="container-fluid pb-5">

    <div class="row px-xl-5">

        <!-- Product Image -->
        <div class="col-lg-5 mb-30">

            <div
                id="product-carousel"
                class="carousel slide"
                data-ride="carousel"
            >

                <div class="carousel-inner bg-light">

                    <div class="carousel-item active">

                        {% if product.image %}

                            <img
                                class="w-100 h-100"
                                src="{{ product.image.url }}"
                                alt="{{ product.name }}"
                            >

                        {% else %}

                            <img
                                class="w-100 h-100"
                                src="{% static 'img/product-1.jpg' %}"
                                alt="No Image"
                            >

                        {% endif %}

                    </div>

                </div>

                <a
                    class="carousel-control-prev"
                    href="#product-carousel"
                    data-slide="prev"
                >
                    <i class="fa fa-2x fa-angle-left text-dark"></i>
                </a>

                <a
                    class="carousel-control-next"
                    href="#product-carousel"
                    data-slide="next"
                >
                    <i class="fa fa-2x fa-angle-right text-dark"></i>
                </a>

            </div>

        </div>
        <!-- Product Image End -->


        <!-- Product Information -->
        <div class="col-lg-7 h-auto mb-30">

            <div class="h-100 bg-light p-30">

                <h3>
                    {{ product.name }}
                </h3>


                <!-- Average Rating -->
                <div class="d-flex align-items-center mb-3">

                    {% if product.rating_count > 0 %}

                        <div class="product-rating">

                            {% if product.average_rating >= 1 %}
                                <span class="star filled">★</span>
                            {% else %}
                                <span class="star">★</span>
                            {% endif %}


                            {% if product.average_rating >= 2 %}
                                <span class="star filled">★</span>
                            {% else %}
                                <span class="star">★</span>
                            {% endif %}


                            {% if product.average_rating >= 3 %}
                                <span class="star filled">★</span>
                            {% else %}
                                <span class="star">★</span>
                            {% endif %}


                            {% if product.average_rating >= 4 %}
                                <span class="star filled">★</span>
                            {% else %}
                                <span class="star">★</span>
                            {% endif %}


                            {% if product.average_rating >= 5 %}
                                <span class="star filled">★</span>
                            {% else %}
                                <span class="star">★</span>
                            {% endif %}

                        </div>


                        <span class="rating-number">
                            {{ product.average_rating }} / 5
                            ({{ product.rating_count }})
                        </span>

                    {% else %}

                        <span class="no-rating">
                            No ratings yet
                        </span>

                    {% endif %}

                </div>
                <!-- Average Rating End -->


                <!-- Price -->
                <h3 class="font-weight-semi-bold mb-4">
                    ${{ product.price }}
                </h3>


                <!-- Description -->
                <p class="mb-4">
                    {{ product.description }}
                </p>


                <!-- Add To Cart -->
                <form
                    method="post"
                    action="{% url 'cart:add' product_id=product.pk %}"
                    class="d-flex align-items-center mb-4 pt-2"
                >

                    {% csrf_token %}

                    <!-- Quantity -->
                    <div
                        class="input-group quantity mr-3"
                        style="width: 130px;"
                    >

                        <div class="input-group-btn">

                            <button
                                type="button"
                                class="btn btn-primary btn-minus"
                            >
                                <i class="fa fa-minus"></i>
                            </button>

                        </div>


                        <input
                            type="number"
                            name="quantity"
                            class="form-control bg-secondary border-0 text-center"
                            value="1"
                            min="1"
                            max="99999999999"
                        >


                        <div class="input-group-btn">

                            <button
                                type="button"
                                class="btn btn-primary btn-plus"
                            >
                                <i class="fa fa-plus"></i>
                            </button>

                        </div>

                    </div>
                    <!-- Quantity End -->


                    <!-- Return To Product -->
                    <input
                        type="hidden"
                        name="next"
                        value="{{ request.path }}"
                    >


                    <!-- Add Button -->
                    <button
                        type="submit"
                        class="btn btn-primary px-3"
                    >

                        <i class="fa fa-shopping-cart mr-1"></i>

                        Add To Cart

                    </button>

                </form>
                <!-- Add To Cart End -->


                <!-- Share -->
                <div class="d-flex pt-2">

                    <strong class="text-dark mr-2">
                        Share on:
                    </strong>

                    <div class="d-inline-flex">

                        <a
                            class="text-dark px-2"
                            href="#"
                        >
                            <i class="fab fa-facebook-f"></i>
                        </a>

                        <a
                            class="text-dark px-2"
                            href="#"
                        >
                            <i class="fab fa-twitter"></i>
                        </a>

                        <a
                            class="text-dark px-2"
                            href="#"
                        >
                            <i class="fab fa-linkedin-in"></i>
                        </a>

                        <a
                            class="text-dark px-2"
                            href="#"
                        >
                            <i class="fab fa-pinterest"></i>
                        </a>

                    </div>

                </div>
                <!-- Share End -->

            </div>

        </div>
        <!-- Product Information End -->

    </div>


    <!-- Description & Rating -->
    <div class="row px-xl-5">

        <div class="col">

            <div class="bg-light p-30">

                <!-- Tabs -->
                <div class="nav nav-tabs mb-4">

                    <a
                        class="nav-item nav-link text-dark active"
                        data-toggle="tab"
                        href="#tab-pane-1"
                    >
                        Description
                    </a>

                    <a
                        class="nav-item nav-link text-dark"
                        data-toggle="tab"
                        href="#tab-pane-2"
                    >
                        Rating
                    </a>

                </div>
                <!-- Tabs End -->


                <div class="tab-content">

                    <!-- Description Tab -->
                    <div
                        class="tab-pane fade show active"
                        id="tab-pane-1"
                    >

                        <h4 class="mb-3">
                            Description
                        </h4>

                        <p>
                            {{ product.description }}
                        </p>

                    </div>
                    <!-- Description Tab End -->


                    <!-- Rating Tab -->
                    <div
                        class="tab-pane fade"
                        id="tab-pane-2"
                    >

                        <h4 class="mb-3">
                            Rate this product
                        </h4>


                        {% if request.user.is_authenticated %}

                            {% if form %}

                                <form
                                    method="post"
                                    action="{% url 'product:rate' product.pk %}"
                                >

                                    {% csrf_token %}


                                    <!-- Star Rating -->
                                    <div class="rating-stars">

                                        <input
                                            type="radio"
                                            name="score"
                                            value="1"
                                            id="star1"

                                            {% if form.instance.score == 1 %}
                                                checked
                                            {% endif %}
                                        >

                                        <label for="star1">
                                            ★
                                        </label>


                                        <input
                                            type="radio"
                                            name="score"
                                            value="2"
                                            id="star2"

                                            {% if form.instance.score == 2 %}
                                                checked
                                            {% endif %}
                                        >

                                        <label for="star2">
                                            ★
                                        </label>


                                        <input
                                            type="radio"
                                            name="score"
                                            value="3"
                                            id="star3"

                                            {% if form.instance.score == 3 %}
                                                checked
                                            {% endif %}
                                        >

                                        <label for="star3">
                                            ★
                                        </label>


                                        <input
                                            type="radio"
                                            name="score"
                                            value="4"
                                            id="star4"

                                            {% if form.instance.score == 4 %}
                                                checked
                                            {% endif %}
                                        >

                                        <label for="star4">
                                            ★
                                        </label>


                                        <input
                                            type="radio"
                                            name="score"
                                            value="5"
                                            id="star5"

                                            {% if form.instance.score == 5 %}
                                                checked
                                            {% endif %}
                                        >

                                        <label for="star5">
                                            ★
                                        </label>

                                    </div>
                                    <!-- Star Rating End -->


                                    <button
                                        type="submit"
                                        class="btn btn-primary px-3 mt-3"
                                    >
                                        Submit Rating
                                    </button>

                                </form>

                            {% endif %}

                        {% else %}

                            <p>

                                <a href="{% url 'account_login' %}">
                                    Log in
                                </a>

                                to rate this product.

                            </p>

                        {% endif %}

                    </div>
                    <!-- Rating Tab End -->

                </div>

            </div>

        </div>

    </div>

</div>
<!-- Shop Detail End -->


<!-- CSS -->
<style>

    .product-rating {
        display: flex;
        align-items: center;
    }

    .product-rating .star {
        font-size: 25px;
        color: #ccc;
        margin-right: 2px;
    }

    .product-rating .star.filled {
        color: #ffc107;
    }

    .rating-number {
        color: #666;
        font-size: 14px;
        margin-left: 8px;
    }

    .no-rating {
        color: #777;
    }


    .rating-stars {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: fit-content;
    }

    .rating-stars input {
        display: none;
    }

    .rating-stars label {
        font-size: 38px;
        color: #ccc;
        cursor: pointer;
        margin-right: 3px;
        transition: color 0.2s;
    }

    .rating-stars label:hover {
        color: #ffc107;
    }

    .rating-stars label.active {
        color: #ffc107;
    }

</style>
<!-- CSS End -->


{% endblock %}
