{% extends 'base/main.html' %}
{% load static %}

{% block title %}
    Checkout
{% endblock %}


{% block content %}


<!-- Breadcrumb Start -->

<div class="container-fluid">

    <div class="row px-xl-5">

        <div class="col-12">

            <nav class="breadcrumb bg-light mb-30">

                <a
                    class="breadcrumb-item text-dark"
                    href="{% url 'website:index' %}"
                >
                    Home
                </a>

                <span class="breadcrumb-item active">
                    Checkout
                </span>

            </nav>

        </div>

    </div>

</div>

<!-- Breadcrumb End -->



<!-- Checkout Start -->

<div class="container-fluid">

    <div class="row px-xl-5">


        <!-- Shipping Information -->

        <div class="col-lg-8">


            <h5
                class="section-title position-relative text-uppercase mb-3"
            >

                <span class="bg-secondary pr-3">
                    Shipping Information
                </span>

            </h5>


            <div class="bg-light p-30 mb-5">


                {% for m in messages %}

                    <div class="alert alert-{{ m.tags }} mb-4">

                        {{ m }}

                    </div>

                {% endfor %}



                <form
                    method="POST"
                >

                    {% csrf_token %}


                    <div class="row">


                        <!-- Full Name -->

                        <div class="col-md-12 form-group">

                            <label>
                                Full Name
                            </label>

                            {{ form.full_name }}

                            {% if form.full_name.errors %}

                                <div class="text-danger small mt-1">

                                    {{ form.full_name.errors }}

                                </div>

                            {% endif %}

                        </div>

                        <!-- Full Name End -->



                        <!-- Phone -->

                        <div class="col-md-12 form-group">

                            <label>
                                Phone
                            </label>

                            {{ form.phone }}

                            {% if form.phone.errors %}

                                <div class="text-danger small mt-1">

                                    {{ form.phone.errors }}

                                </div>

                            {% endif %}

                        </div>

                        <!-- Phone End -->



                        <!-- Address -->

                        <div class="col-md-12 form-group">

                            <label>
                                Address
                            </label>

                            {{ form.address }}

                            {% if form.address.errors %}

                                <div class="text-danger small mt-1">

                                    {{ form.address.errors }}

                                </div>

                            {% endif %}

                        </div>

                        <!-- Address End -->


                    </div>


                    <!-- Place Order -->

                    <button
                        type="submit"
                        class="btn btn-block btn-primary font-weight-bold py-3"
                    >
                        Place Order
                    </button>

                    <!-- Place Order End -->


                </form>


                <!-- Back To Cart -->

                <a
                    href="{% url 'cart:detail' %}"
                    class="btn btn-block btn-secondary font-weight-bold py-3 mt-3"
                >
                    Back To Cart
                </a>

                <!-- Back To Cart End -->


            </div>


        </div>

        <!-- Shipping Information End -->



        <!-- Order Summary -->

        <div class="col-lg-4">


            <h5
                class="section-title position-relative text-uppercase mb-3"
            >

                <span class="bg-secondary pr-3">
                    Order Total
                </span>

            </h5>


            <div class="bg-light p-30 mb-5">


                <!-- Products -->

                <div class="border-bottom">

                    <h6 class="mb-3">
                        Products
                    </h6>


                    {% for item in items %}

                        <div
                            class="d-flex justify-content-between"
                        >

                            <p>
                                {{ item.product.name }}
                                x {{ item.quantity }}
                            </p>

                            <p>
                                ${{ item.total_price }}
                            </p>

                        </div>

                    {% endfor %}


                </div>

                <!-- Products End -->




                <!-- Total -->

                <div class="pt-2">

                    <div
                        class="d-flex justify-content-between mt-2"
                    >

                        <h5>
                            Total
                        </h5>

                        <h5>
                            ${{ total }}
                        </h5>

                    </div>

                </div>

                <!-- Total End -->


            </div>



        </div>

        <!-- Order Summary End -->


    </div>

</div>

<!-- Checkout End -->


{% endblock %}
